body {
  width: 100%;
  border: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

.top {
  height: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-bottom: 20px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo {
  align-self: left;
  padding: 2vh;
}
#logo {
  height: 40px;
  width: 90px;
}
#link {
  flex-direction: row;
  align-items: flex-end;
  padding: 5vh 5vh;
}
.link {
  padding: 5px 5px;
  font-family: arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
#main {
  display: flex;
  flex-direction: column;
}
.h2 {
  color: #d93025;
  /* padding: 0px 0px 10px 30px; */
  margin: 25px 35px;
  font-size: 20px;
}
hr {
  width: 100%;
  color: #242425;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
#fields {
  display: flex;
  flex-direction: column;
  padding: 3vh 10vh;
}
.row {
  display: grid;
  grid-template-columns: 200px 500px 400px;
  padding: 1vh 0px;
  align-items: center;
  text-align: left;
}
.leftHead {
  font-size: 16px;
  color: #333333;
}
.rightHead {
  font-size: 13px;
  color: #777777;
  font-weight: 700;
}
.label {
  font-size: 13px;
  color: #222;
  padding-right: 5vh;
}
.text {
  background-color: #ffffff;
  height: 29px;
  /* width: 474px; */
  padding: 1px 8px;
  border: 1px solid #dfe1e5;
  outline: none;
}
.text:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
}
.des {
  color: #555;
  font-size: 11px;
  padding-left: 5vh;
}
.end {
  display: flex;
  flex-direction: row-reverse;
}
#submit {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 30px;
  width: 120px;
  outline: 0;
  padding: 0 8px;
}
#submit:hover {
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}
