body {
  width: 100%;
  border: 0;
  margin: 0;
}

#top {
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#link {
  flex-direction: row;
  align-items: flex-end;
  padding: 5vh 5vh;
}
.link {
  padding: 5px 5px;
  font-family: arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  align-self: center;
  padding: 5vh;
}
#logo {
  height: 120px;
  width: 340px;
}
#searchBar {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 500px;
  padding-left: 10px;
  outline: none;
  align-items: center;
  /* box-shadow: 5px 5px #333333; */
}

#searchBar:hover {
  box-shadow: 0px 0px 4px rgb(141, 141, 141);
}
#searchLogo {
  height: 30px;
  padding-right: 10px;
}

#searchInput {
  border: none;
  outline: none;
  width: max-content;
  width: 420px;
  border-radius: 24px;
  font: 400 16px Arial;
}
button {
  background-color: transparent;
  border: none;
}
#searchButton {
  height: 30px;
  cursor: pointer;
}
